* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.page {
  .header {
    background-color: $royal-blue;
    position: relative;
    height: 100vh;

    .top__bar {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0.5rem 1rem;
      .top__bar__logo {
        width: 100px;
      }
      .top__bar__menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 50px;

        .menu-toggle__item {
          background-color: $white;
          width: 26px;
          height: 2px;
          margin-top: 4px;
        }
      }
      .top__bar__nav {
        display: flex;
        flex-direction: column;
        position: absolute;
      }
      .top__bar__auth {
        display: none;
      }
    } //.top__bar
    .hero__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 0 18px;

      .hero__heading {
        color: $white;
        font-size: 2rem;
        margin-top: 6vh;
        letter-spacing: 1px;
        line-height: 51px;
      }
      .hero__paragraph {
        font-size: 1rem;
        color: $white;
        font-weight: 400;
        margin-top: 4vh;
      }
    } //.hero__container
  } //.header
} // .page
