//  COLORS //

$royal-blue: #5857e9;
$orange: #fd6e5e;
$black: #27272e;
$paragraph-soft-grey: #6c6c72;
$white: #ffffff;
$yellow: #ffc107;
$white-gray: #f9faff;
$dodger-blue: #3881fd;
$second-orange: #ffaa50;
$grey-dark: #606368;
$blue-gradient: linear-gradient(#1d98ff, #2961ff);

// FONTS //

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

// font-family: 'Manrope', sans-serif;

// GOBAAL RESETS
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}
