@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.top__bar__nav_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  padding-top: 6vh;
  display: flex;
  justify-content: flex-start;
  text-align: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-top: 6vh;
  position: absolute;
  display: flex;
  top: 10vh;
  left: 100%;
  width: 100%;
  height: 90vh;
  background-color: #5857e9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  left: 0;
}

.top__bar__nav_active .nav__item {
  list-style-type: none;
  margin: 2vh 0;
}

.top__bar__nav_active .nav__item .sign-in {
  background-color: #fd6e5e;
  border-radius: 50px;
  padding: 1vh 4vh;
}

.top__bar__nav_active .nav__item .nav__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
}

.top__bar__nav_active .nav__item {
  list-style-type: none;
  margin: 2vh 0;
}

.top__bar__nav_active .nav__item .sign-in {
  background-color: #fd6e5e;
  border-radius: 50px;
  padding: 1vh 4vh;
}

.top__bar__nav_active .nav__item .nav__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
}

.page {
  overflow: hidden;
}

.page .header {
  background-color: #5857e9;
  position: relative;
  height: 100vh;
}

@media screen and (min-width: 768px) {
  .page .header {
    padding: 2vh 5% 0 5%;
  }
}

.page .header .top__bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  padding: 0.5rem 1rem;
}

.page .header .top__bar .top__bar__logo {
  width: 100px;
}

.page .header .top__bar .top__bar__menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 50px;
}

@media screen and (min-width: 768px) {
  .page .header .top__bar .top__bar__menu-toggle {
    display: none;
  }
}

.page .header .top__bar .hamb-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page .header .top__bar .close-cross {
  display: none;
}

.page .header .top__bar .menu-toggle__item {
  background-color: #ffffff;
  width: 26px;
  height: 2px;
  margin-top: 4px;
}

.page .header .top__bar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  padding-top: 6vh;
  position: absolute;
  display: flex;
  top: 10vh;
  left: 100%;
  width: 100%;
  height: 90vh;
  background-color: #5857e9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page .header .top__bar__nav .nav__item {
  list-style-type: none;
  margin: 2vh 0;
}

.page .header .top__bar__nav .nav__item .sign-in {
  background-color: #fd6e5e;
  border-radius: 50px;
  padding: 1vh 4vh;
}

.page .header .top__bar__nav .nav__item .nav__link {
  color: #ffffff;
  text-decoration: none;
  font-size: 2rem;
}

.page .header .top__bar__auth {
  display: none;
}

.page .hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 18px;
}

.page .hero__container .hero__heading {
  color: #ffffff;
  font-size: 2.2rem;
  margin-top: 6vh;
  letter-spacing: 1px;
  line-height: 51px;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
}

@media screen and (min-width: 768px) {
  .page .hero__container .hero__heading {
    font-size: 3rem;
  }
}

.page .hero__container .hero__paragraph {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 400;
  margin-top: 4vh;
  opacity: 0;
  -webkit-transition: 2s;
  transition: 2s;
}

.page .hero__container .hero__email-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6vh;
  margin-top: 4vh;
  border-radius: 25px;
  background-color: #ffffff;
  opacity: 0;
  -webkit-transition: 3s;
  transition: 3s;
}

.page .hero__container .hero__email-box input {
  border: 0;
  height: 4vh;
  margin-left: 2vh;
  font-size: 1.2rem;
}

.page .hero__container .hero__email-box input:focus {
  outline: none;
}

.page .hero__container .hero__email-box input::-webkit-input-placeholder {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.page .hero__container .hero__email-box input:-ms-input-placeholder {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.page .hero__container .hero__email-box input::-ms-input-placeholder {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.page .hero__container .hero__email-box input::placeholder {
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.page .hero__container .hero__email-box svg {
  margin-right: 2vh;
}

@media (orientation: landscape) {
  .header {
    padding: 5vh 2vh 0 2vh;
  }
  .header .top__bar__nav_active {
    height: 85vh;
    width: 40%;
    left: 60%;
    text-align: right;
    padding-right: 10vh;
  }
  .header .top__bar__nav_active .nav__link {
    font-size: 1.5rem;
  }
  .header .hero {
    text-align: left;
    margin-right: 10vh;
  }
  .header .hero .hero__email-box {
    max-width: 80%;
    padding: 6vh;
  }
}

.wrapper {
  font-size: 0;
}
/*# sourceMappingURL=main.css.map */