@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

.menu-active {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 10vh;
  left: 100%;
  width: 100%;
  height: 90vh;
  background-color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: slide-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-left 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.menu-active .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  list-style-type: none;
  padding-top: 6vh;
}

.menu-active .nav__menu .nav__item {
  margin: 2vh 0;
}

.menu-active .nav__menu .nav__item .nav__link {
  text-decoration: none;
  font-size: 2rem;
}

.page .header {
  background-color: #5857e9;
  position: relative;
  height: 100vh;
}

.page .header .top__bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  padding: 0.5rem 1rem;
}

.page .header .top__bar .top__bar__logo {
  width: 100px;
}

.page .header .top__bar .top__bar__menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 50px;
}

.page .header .top__bar .top__bar__menu-toggle .menu-toggle__item {
  background-color: #ffffff;
  width: 26px;
  height: 2px;
  margin-top: 4px;
}

.page .header .top__bar .top__bar__nav {
  display: none;
}

.page .header .top__bar .top__bar__auth {
  display: none;
}

.page .header .hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 18px;
}

.page .header .hero__container .hero__heading {
  color: #ffffff;
  font-size: 2rem;
  margin-top: 6vh;
  letter-spacing: 1px;
  line-height: 51px;
}

.page .header .hero__container .hero__paragraph {
  font-size: 1rem;
  color: #ffffff;
  font-weight: 400;
  margin-top: 4vh;
}

.wrapper {
  font-size: 0;
}
/*# sourceMappingURL=main.css.map */